
@{
    ViewBag.Title = "Add Member";
}

<h2>Add Member</h2>


<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Name</label>
        <div class="col-md-12">
            <input id="memberName" type="text" class="form-control" placeholder="Please enter name of user.">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Surname</label>
        <div class="col-md-12">
            <input id="memberSurname" type="text" class="form-control" placeholder="Please enter surname of user.">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Tc</label>
        <div class="col-md-12">
            <input id="memberTc" type="text" class="form-control" placeholder="Please enter TC of user.">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Phone</label>
        <div class="col-md-12">
            <input id="memberPhone" type="text" class="form-control" placeholder="Please enter phone number of user.">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input id="saveMember" type="button" class="btn btn-block btn-info" value="Save" />
        </div>
    </div>
</form>
